<%- include("header.ejs") -%>

<h1>This is about page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, magni dicta quisquam excepturi illum sunt vitae saepe quos molestiae autem ullam necessitatibus labore eius recusandae eos, ducimus ex id aliquam?
</p>
<%- include("footer.ejs") -%>